.App {
  text-align: center;
  background: linear-gradient(to bottom right, #ff00d4, #00ddff);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px; 
  margin-bottom: 100px;
  padding: 36px 32px;
  width: 80%; 
  max-width: 500px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 700ms ease-in-out;
}

.form-data {
  text-align: center;
  background: linear-gradient(to bottom right, #ff00d4, #00ddff);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-data-card {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px; 
  padding: 20px 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 700ms ease-in-out;
}

.form-data-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.form-data-item:last-child {
  border-bottom: none;
}

.form-data-key {
  font-weight: 600;
  color: white;
}

.form-data-value {
  color: white;
}

.website-title {
  text-align: center;
  font-size: 32px;
  color: white;
  margin: 20px 0px;
  animation: fadeInUp 500ms ease-in-out;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-title {
  text-align: start;
  font-weight: 600;
  color: white;
  font-size: 18px;
}

.form-input {
  padding: 16px 16px;
  border-radius: 10px;
  border-color: transparent;
  margin-top: -8px;
}

.form-button {
  border: transparent;
  width: 100%;
  padding: 16px 0;
  border-radius: 10px;
  background: #1c1c1c;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.form-button:hover {
  transition: all;
  background: #282c34;
}

.error {
  text-align: start;
  color: #cc0033; 
  font-weight: 400;
  margin-top: 4px;
}

@media (min-width: 640px) {
  .website-title {
    font-size: 48px;
  }

  .form-data-card, form {
    width: 500px;
  }

  .form-data-card {
    padding: 30px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}