.App {
  text-align: center;
  background: linear-gradient(to bottom right, #ff00d4, #00ddff);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px; 
  margin-bottom: 100px;
  padding: 36px 32px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-data {
  text-align: center;
  background: linear-gradient(to bottom right, #ff00d4, #00ddff);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-data-card {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px; 
  padding: 20px 20px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.website-title {
  text-align: center;
  font-size: 48px;
  color: white;
  margin: 20px 0px;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-title {
  text-align: start;
  font-weight: 600;
  color: white;
  font-size: 18px;
}

.form-input {
  padding: 16px 16px;
  border-radius: 10px;
  border-color: transparent;
  margin-top: -8px;
}

.form-button {
  border: transparent;
  width: 100%;
  padding: 16px 0;
  border-radius: 10px;
  background: #1c1c1c;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.form-button:hover {
  transition: all;
  background: #282c34;
}

.error {
  text-align: start;
  color: #cc0033; 
  font-weight: 400;
  margin-top: 4px;
}